---

// IMPORT ASTRO ATOMS
import ParagraphXlLightAccent from "@/atoms-diksha/paragraphs/xl/light/accent/index.astro"

---

<button class="flex gap-1 items-center hover:translate-x-1 transition duration-300 delay-150">
    <ParagraphXlLightAccent>
        <slot />
        <span class="font-bold">➜</span>
    </ParagraphXlLightAccent>
</button>
