---

// IMPORT ASTRO ATOMS
import ButtonArrowXlAccent from "@/atoms-diksha/buttons/arrow-button/xl/accent/index.astro"
import Link from "@/atoms/links/index.astro"
import Picture from "@/atoms/picture/internal/index.astro"

// GET ASTRO PROPS
const {

    button_text,
    image_source,
    title,
    
} = Astro.props

---

<div class="flex flex-col gap-6">
    <div class="group relative overflow-hidden w-[440px] border-2 border-white rounded-lg">
        <div class="transform transition-transform duration-300 delay-150 ease-in-out group-hover:scale-105">
            <Picture 
                source={ image_source } 
                alternative_text={ title }  
            />
        </div>
    </div>
    <Link 
        source="/"
        aria_label="page"
    >
        <ButtonArrowXlAccent>{ button_text }</ButtonArrowXlAccent>
    </Link>
</div>
