---

// IMPORT ASTRO ATOMS
import ParagraphLgLightAccent from "@/atoms-diksha/paragraphs/lg/light/accent/index.astro"

---

<button class="flex gap-1 items-center hover:translate-x-1 hover:text-white transition duration-300 delay-150">
    <ParagraphLgLightAccent>
        <slot />
        <span class="font-bold">➜</span>
    </ParagraphLgLightAccent>
</button>
