<button class="flex gap-1 items-center hover:translate-x-1 transition duration-300 delay-150 font-proxima_nova font-light text-xl lg:text-xl text-color-accent hover:text-white ">
    <slot />
    <span class="font-bold">➜</span>
</button>
