---

// IMPORT ASTRO LAYOUTS
import ContainerLarge from "@/layouts/container-large/index.astro"

// IMPORT ASTRO ATOMS
import ButtonAccent from "@/atoms-diksha/buttons/accent/index.astro"
import ButtonOutlinedAccent from "@/atoms-diksha/buttons/outlined/accent/index.astro"
import HeadingThreeThreeXlBold from "@/atoms-diksha/headings/three/3xl/bold/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphLgLight from "@/atoms-diksha/paragraphs/lg/light/index.astro"
import Video from "@/atoms-diksha/video/index.astro"

//CONSTANTS
const content = {
    title:"We are Captivation",
    description1:"We work with brands, non-profits & agencies to elevate and deploy meaningful, engaging, client works in the form of video productions and pixel-perfect, user experience design.",
    description2:"We believe in hard work, exceptional customer service and long-term relationships.",
}

---

<ContainerLarge>
    <div class="flex flex-col lg:flex-row justify-between">
        <div>
            <!-- export video  -->
            <div class="w-[640px] h-full aspect-video rounded-lg">
                <Video source="https://www.youtube.com/embed/bd29d264-c37a-4c02-98c7-13e3ad37c6e3" />
            </div>
        </div>
        <div class="lg:w-1/2 flex flex-col gap-6">
            <HeadingThreeThreeXlBold>{  content.title   }</HeadingThreeThreeXlBold>
            <ParagraphLgLight>
                Founded in 2004, <span class="text-color-accent underline">Captivation Agency</span> is an award-winning creative storytelling collective located in Sarasota, Florida. 
            </ParagraphLgLight>
            <ParagraphLgLight>{  content.description1   }</ParagraphLgLight>
            <ParagraphLgLight>{  content.description2   }</ParagraphLgLight>
            <div class="py-4 lg:py-6 flex gap-6">
                <Link 
                    aria_label="about us"
                    source="/" 
                >
                    <ButtonAccent>About Captivation</ButtonAccent>
                </Link>
                <Link 
                    aria_label="watch video"
                    source="/" 
                >
                    <ButtonOutlinedAccent>Watch Our Video</ButtonOutlinedAccent>
                </Link>
            </div>
        </div>
    </div>
</ContainerLarge>
