<button class="border-2 border-red-500 bg-white hover:text-white hover:bg-red-500 rounded-full transition delay-150 duration-200 font-proxima_nova font-bold tracking-wider px-16 py-1.5">
    <slot/>
</button>
