---

// IMPORT ASTRO LAYOUTS
import ContainerInsights from "@/layouts/container-insights/index.astro"

// IMOPRT ASTRO COMPONENTS
import ImageCard from "@/components/home/insights/image-card/index.astro"

// IMPORT ASTRO ATOMS
import ButtonRed from "@/atoms/atoms-nandini/buttons/red/index.astro"
import HeadingTwo2xlBold from "@/atoms/atoms-nandini/headings/two/2xl/bold/index.astro"
import Link from "@/atoms/links/index.astro"

// CARD ARRAY
const card=[

    {
        aria_label:"link-to-sarasota-giving-challenge-2024",
        buttons: [ { button_text: "General", button_link: "/general" } ],
        card_desc1:"Our community is gearing up for another year of a remarkable event that has been making waves for the...",
        card_desc2:"November 12, 2023",
        card_desc3:"4 min read",
        card_details:"Read Post ➜",
        card_title:"The Sarasota Giving Challenge 2024: Ready, Set, Give!",
        href:"/sarasota-giving-challenge-2024.html",
        source:"/images/insight1.png",
    },
    {
        aria_label:"link-to-webinar-the-power-of-personality",
        buttons: [ { button_text: "General", button_link: "/general" } ],
        card_details:"Read Post ➜",
        card_desc1:"Personas, Style Guides & Stylescapes for Nonprofits Welcome, everyone! As we gather for this enlightening...",
        card_desc2:"October 8, 2023",
        card_desc3:"6 min read",
        card_title:"WEBINAR: The Power of Personality // Nonprofit Marketing Tools",
        href:"/webinar-the-power-of-personality.html",
        source:"/images/insight2.png",
    },
    {
        aria_label:"link-to-importance-of-user-centered-design-in-creating-engaging-websites",
        buttons: [

            { button_text: "Articles", button_link: "/articles" },
            { button_text: "General", button_link: "/general" },
            { button_text: "Helpful Tips", button_link: "/helpful-tips" },
            { button_text: "Rich Media", button_link: "/rich-media" },
            { button_text: "Websites", button_link: "/websites" },

        ],
        card_details:"Read Post ➜",
        card_desc1:"Discover the Power of User-Centered Design for Engaging Websites. Boost Engagement, Enhance User Experience,...",
        card_desc2:"October 1, 2023",
        card_desc3:"4 min read",
        card_title:"Importance of User-Centered Design in Creating Engaging Websites",
        href:"/importance-of-user-centered-design-in-creating-engaging-websites.html",
        source:"/images/insight3.png",
    },
]

const data={

    title:"Insights",
    button_red:"All Insights",

}

---
<section>
    <ContainerInsights>
        <div class="my-20 space-y-14">
            <HeadingTwo2xlBold>{ data.title }</HeadingTwo2xlBold>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:justify-center">
                {

                    card.map( ( item ) => {

                        return (

                            <ImageCard
                                alternative_text="card-image"
                                aria_labe2={ item.aria_label2 }
                                aria_label={ item.aria_label }
                                buttons={ item.buttons }
                                card_desc1={ item.card_desc1 }
                                card_desc2={ item.card_desc2 }
                                card_desc3={ item.card_desc3 }
                                card_details={ item.card_details }
                                card_link="/insights/sarasota-giving-challenge-2024.html"
                                card_title={ item.card_title }
                                href={ item.href }
                                href2={ item.href2 }
                                source={ item.source }

                            />

                        )

                    })
                }
            </div>

            <div class="mt-10">
                <Link aria_label="link-to-all-insights" href="/insights">
                    <ButtonRed>{ data.button_red }</ButtonRed>
                </Link>
            </div>
        </div>
    </ContainerInsights>
</section>
