---

// IMPORT ASTRO LAYOUTS
import ContainerLarge from "@/layouts/container-large/index.astro"

// IMPORT ASTRO COMPONENTS
import ServiceCard from "@/components/home/services/service-card/index.astro"

// IMPORT ASTRO ATOMS
import ButtonAccent from "@/atoms-diksha/buttons/accent/index.astro"
import HeadingThreeThreeXlBoldWhite from "@/atoms-diksha/headings/three/3xl/bold/white/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphLgLightWhite from "@/atoms-diksha/paragraphs/lg/light/white/index.astro"

//CONSTANTS
const services = [
    {
        image_source:"/images/services/video-service.webp",
        title:"Video",
        subtitle: "Production & Editing",
        button_text: "Video Services",
    },
    {
        image_source:"/images/services/animation-service.webp",
        title:"Animation",
        subtitle: "Motion Graphics & Visualizations",
        button_text: "Animation Services",  
    },
    {
        image_source:"/images/services/website-service.webp",
        title:"Website",
        subtitle: "Design & Development",
        button_text: "Website Services",
    },
    {
        image_source:"/images/services/graphic-design-service.webp",
        title:"Graphic Design",
        subtitle: "Online & Printed Collateral",
        button_text: "Graphic Design Services",
    },
    {
        image_source:"/images/services/photography-service.webp",
        title:"Photography",
        subtitle: "People, Places & Products",
        button_text: "Photography Services",
    },
    {
        image_source:"/images/services/ux-ui-service.webp",
        title:"UX/UI Design",
        subtitle: "Empathize, Define, Ideate, Prototype & Test",
        button_text: "UX/UI Design Services",
    }
]

const content = {
    title:"Services",
    description:"Our in-house team will personally work with you to identify your goals, highlight what makes your business unique and help deliver that message clearly and concisely - lead by our collective past experiences, while looking ahead to new & emerging technologies, to give you the edge needed for today’s business marketing landscape.",
}

---

<div class="bg-black">
    <ContainerLarge>
        <HeadingThreeThreeXlBoldWhite>{ content.title }</HeadingThreeThreeXlBoldWhite>
        <ParagraphLgLightWhite>{ content.description }</ParagraphLgLightWhite>
        <div class="flex flex-col justify-center items-center gap-x-20 xl:gap-x-10 xl:justify-between gap-y-20 sm:flex-row flex-wrap py-12">
            {

                services.map( ( service ) => (

                    <ServiceCard
                        button_text={ service.button_text }
                        image_source={ service.image_source }
                        subtitle={ service.subtitle }
                        title={ service.title }
                    />

                ))

            }
        </div>
        <div class="py-10">
            <Link
                aria_label="new project"
                source="/"
            >
                <ButtonAccent>Start a Project</ButtonAccent>
            </Link>
        </div>
    </ContainerLarge>
</div>
