---

// IMPORT JSX COMPONENTS
import Stars from "@/components/home/client-testimonials/stars/index.jsx"

// IMPORT ASTRO ATOMS
import ButtonWhite from "@/atoms/atoms-nandini/buttons/white/index.astro"
import ButtonRed from "@/atoms/atoms-nandini/buttons/red/index.astro"
import HeadingTwoXlBoldWhite from "@/atoms/atoms-nandini/headings/two/xl/bold/white/index.astro"
import HeadingTwoSmallWhite from "@/atoms/atoms-nandini/headings/two/sm/bold/white/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"
import ParagraphSmallRed from "@/atoms/atoms-nandini/paragraphs/sm/red/index.astro"
import ParagraphSmallWhite from "@/atoms/atoms-nandini/paragraphs/sm/white/index.astro"
import ParagraphSmallItalicWhite from "@/atoms/atoms-nandini/paragraphs/sm/italic/white/index.astro"

// HARDCODED DATA
const data={

    button_text1:"Read Our Google Reviews",
    button_text2:"Read Our Reviews",
    desc1:"Enough praise cannot be lauded to Captivation Agency for the level of professionalism, service, knowledge, and compassion they provide. Countless people ask me each day, “Who did your video?” and I proudly answer. They are so easy to work with and have patience to spare. The staff at Captivation Agency truly cares about the product they produce and go above and beyond to meet and exceed their clients’ needs. It’s an honor to work with them!",
    image_desc1:"Owner,",
    image_desc2:"Summer Success Institute",
    image_title:"Autumn McConnell",
    title:"Client Testimonials",

}

---

<section class="bg-black">
    <div class="flex flex-wrap gap-7 px-5 py-20">
        <div class="w-full border-t-2 pt-20">
            <HeadingTwoXlBoldWhite>{ data.title }</HeadingTwoXlBoldWhite>
        </div>
        <ParagraphSmallItalicWhite>{ data.desc1 }</ParagraphSmallItalicWhite>
        <div class="flex flex-wrap gap-6 mr-20 mb-10">
            <div class="rounded-full size-16 overflow-hidden">
                <PictureInternal
                    alternative_text="Image"
                    source="/images/client-testimonials.webp"
                />
            </div>
            <div class="">
                <HeadingTwoSmallWhite>{ data.image_title }</HeadingTwoSmallWhite>
                <div class="space-y-1.5">
                    <div class="flex gap-0.5">
                        <ParagraphSmallWhite>{ data.image_desc1 }</ParagraphSmallWhite>
                        <a href="/summersuccessinstitute.com">
                            <ParagraphSmallRed>{ data.image_desc2 }</ParagraphSmallRed>
                        </a>
                    </div>
                    <div class="flex size-3.5 gap-x-1">
                        <Stars/>
                    </div>
                </div>     
            </div>    
        </div>
        <div class="border-b-2 pb-20 w-full">
            <div class="flex flex-wrap gap-y-4 md:flex gap-4">
                <a href="https://www.google.com/search?q=captivation+agency+reviews&oq=captivation+agency+reviews&aqs=chrome..69i57j69i64l2.4290j0j7&sourceid=chrome&ie=UTF-8#lrd=0x88c340f0951414d9:0xbf4e0bc3d49cc937,1,,,">
                    <ButtonRed>{ data.button_text1 }</ButtonRed>
                </a>
                <a href="/reviews">
                    <ButtonWhite>{ data.button_text2 }</ButtonWhite>
                </a>
            </div>
        </div>
    </div>   
</section>
