<button class="bg-color-accent border-2 border-color-accent rounded-full text-white font-itc_avant_garde tracking-widest py-3 px-20 hover:bg-white hover:text-color-accent delay-75 duration-150" >
    <slot/>
</button>
