<button class="bg-white border-2 border-color-accent rounded-full text-black font-itc_avant_garde tracking-widest py-3 px-20 hover:bg-color-accent hover:text-white delay-75 duration-150">
    <slot/>
</button>
