<button class="bg-white border-2 border-color-accent delay-75 duration-150 text-black font-itc_avant_garde p-3 rounded-full tracking-widest w-64 hover:bg-color-accent hover:text-white">
    <slot/>
</button>
