<button class="text-white border-2 border-red-500 bg-red-500 rounded-full transition delay-150 duration-200 hover:text-red-500 hover:bg-white font-bold tracking-wider font-proxima_nova px-10 py-1.5">
    <slot/>
</button>
