---

// IMPORT ASTRO ATOMS
import ButtonWhite from "@/atoms/atoms-nandini/buttons/white/index.astro"
import HeadingWhite from "@/atoms/atoms-nandini/headings/four/white/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"
import ParagraphRed from "@/atoms/atoms-nandini/paragraphs/red/index.astro"
import ParagraphSM from "@/atoms/atoms-nandini/paragraphs/sm/index.astro"
import ParagraphSMWhite from "@/atoms/atoms-nandini/paragraphs/sm/white/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    button_text,
    card_desc1,
    card_desc2,
    card_desc3,
    card_details,
    card_link,
    card_title,
    source,

} = Astro.props

---
<div class="col-span-1 max-w-md bg-black rounded-xl">
    <div class="relative overflow-hidden pb-20 sm:pb-10 md:pb-2 border border-b-2 border-t-transparent border-x-transparent hover:rounded-t-xl">
        <div class="hover:transition-all hover:delay-200 hover:scale-105 hover:duration-500 rounded-t-xl overflow-hidden">
            <a href={ card_link }>
                <PictureInternal
                    alternative_text={ alternative_text }
                    source={ source }
                />
            </a>
        </div>
    </div>
    <div class="flex flex-wrap gap-4 m-5 pb-4">
        <a href={ card_link }>
            <HeadingWhite>{ card_title }</HeadingWhite>
        </a>
        <ParagraphSM>{ card_desc1 }</ParagraphSM>
        <div class="flex flex-wrap gap-2 mr-16">
            <ParagraphSMWhite>{ card_desc2 }</ParagraphSMWhite>
            <ParagraphSMWhite>{ card_desc3 }</ParagraphSMWhite>
        </div>
        <a href="/general">
            <ButtonWhite>{ button_text }</ButtonWhite>
        </a>
    </div> 
    <div class="m-5">
        <a href={ card_link }>
            <ParagraphRed>{ card_details }</ParagraphRed>
        </a>
    </div>
</div>
